body {
	
background-image: url("http://www.soflomobilegeeks.com/uploads/1/0/5/3/105387377/17b-iphone-17a-office-why-soflo-mobile-computer-geeks-is-your-best-solution-to-fix-your-laptop-blog_orig.jpg");
}

.navbar-brand {
font-size:29px;
font-weight:bold;
}

.navbar {
	
background-color: #2C3E50;
border: 0px solid green;
}
.navbar-nav {
	margin-top:0px;
	
}
#sri {
	color:white;
	font-weight:bold;
}
#sri:hover {
	background-color:darkGreen;
}
a.hai {
	color:white;
	}
footer .fa {
  padding: 20px;
  font-size:20px;
  width: 50px;
  border-radius:70%;
  text-align: center;
  text-decoration: none;
  margin-left: 32%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: #ffff;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.world {
	color: #ffff;
	text-align:center;
	margin-left:0%;
}
#footer {
	background-color: #2C3E50;
	bottom: 0%;
	position:absolute;
	width:100%;
	
}

footer a  {
	color: #ffff;
}
footer a:hover {
	color: lightGrey;
}
